<div>
    <section class="toolbar" @mousedown="dragToolbar">
        <!-- <div class="header"></div>
      <div class="btn">✎</div>
      <div class="btn drag">⁞</div>
      <div class="btn">🗑</div> -->
        <section>
            <!-- <v-overflow-btn :items="fonts" label="Select font" hide-details></v-overflow-btn> -->

            <v-btn fab dark small color="blue">
                <v-icon dark>format_color_fill</v-icon>
            </v-btn>

            <v-btn fab dark small color="pink">
                <v-icon dark>add_photo_alternate</v-icon>
            </v-btn>
            <v-btn fab dark small color="orange">
                <v-icon dark>format_color_text</v-icon>
            </v-btn>
            <v-btn fab dark small color="red">
                <v-icon dark>text_fields</v-icon>
            </v-btn>
            <v-btn fab dark small color="red">
                <v-icon dark>delete</v-icon>
            </v-btn>


        </section>


    </section>
</div>