<template>
    <section class="bussiness-calender">
        <div class="calender-container">
            <div v-if="showRegisterMenu" class="register-container">
                <register-customer :timeCustomer="timeCustomer" />
            </div>
            <h3 class="black-text mb-5 mt-5 display-4 text-xs-center">My Bussniess Calender</h3>
            <v-btn v-if="newAppt" color="success" @click="addCustomer">Add Appointment</v-btn>

            <v-btn v-if="apptSelected" @click="removeAppt" color="error">Remove Appointment</v-btn>

            <full-calendar ref="calendar" class="full-calendar" :events="events" @event-selected="eventSelected" @event-created="eventCreated"></full-calendar>
        </div>
    </section>
</template>